.App {
  text-align: center;
}

.clock {
  font-family: monospace;
  font-size: calc(50px + 10vmin);
  color: white;
}

.round-tracker {
  font-size: calc(30px + 6vmin);
  color: white;
  margin-bottom: 50px;
}

.input-field {
  width: 100%;
}

.input-field-title {
  margin: 5px;
  margin-right: 10px;
  width: 120px;
  display: inline-block;
  text-align: left;
}

.input-field-content {
  margin: 5px;
  font-size: calc(10px + 2vmin);
  width: 40%;
  text-align: right;
}

.button {
  font-size: calc(10px + 2vmin);
  margin: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
