.App {
  text-align: center;
}

.clock {
  font-family: monospace;
  font-size: calc(60px + 12vmin);
  width: calc(600px + 20vmin);
  display: inline-block;
  margin-top: calc(15px + 3vmin);
}

.round-tracker {
  font-family: monospace;
  font-size: calc(50px + 10vmin);
  margin-bottom: calc(30px + 6vmin);
}

.input-field {
  width: 100%;
}

.input-field-title {
  margin: 5px;
  margin-right: 10px;
  width: 120px;
  display: inline-block;
  text-align: left;
}

.input-field-content {
  margin: 5px;
  font-size: calc(10px + 2vmin);
  width: 30%;
  text-align: right;
}

.button-group {
  width: 100%;
  text-align: center;
}

.button-inner {
  display: inline-block;
}

.button {
  font-size: calc(10px + 2vmin);
  margin: 5px;
  display: inline-block;
  width: calc(100px + 10vmin);
  border-radius: 4px;
  border-width: 1px;
}

.restart-button {
  background-color: rgb(184, 179, 179);
  border-width: 0px;
}

.pause-button {
  background-color: gainsboro;
  border-width: 0px;
}

.reset-button {
  background-color: gainsboro;
  border-width: 0px;
}

.color-selector {
  display: inline-block;
  margin: 5px;
}

.App-header {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1b1b1b;
}
